<script setup>
import { defineAsyncComponent, inject, watch, watchEffect } from "vue";
import { useStateStore } from "../../store/state.js";

const views = {
  Welcome: defineAsyncComponent(() => import("./Welcome.vue")),
  WaitingDraws: defineAsyncComponent(() => import("./WaitingDraws.vue")),
  ShowingDraw: defineAsyncComponent(() => import("./ShowingDraw.vue")),
  ShowingDrawAndGuesses: defineAsyncComponent(() =>
    import("./ShowingDrawAndGuesses.vue")
  ),
  EndGame: defineAsyncComponent(() => import("./EndGame.vue")),
  Reveal: defineAsyncComponent(() => import("./Reveal.vue")),
  ShowingFeedback: defineAsyncComponent(() => import("./ShowingFeedback.vue")),
};


const socket = inject("socket");
const state = useStateStore();
</script>

<template>
 <div class="h-full flex flex-col relative">
    <div class="p-1 absolute z-10" v-if="state.game?.view !== 'EndGame' ">
      <button
        @click="state.game = {}"
        class="flex items-center gap-1 font-medium uppercase hover:bg-slate-200 px-2 rounded-lg"
      >
        <svg fill="currentColor" class="w-4 h-4" viewBox="0 0 1024 1024">
          <g>
            <path
              d="M222.927 580.115l301.354 328.512c24.354 28.708 20.825 71.724-7.883 96.078s-71.724 20.825-96.078-7.883L19.576 559.963a67.846 67.846 0 01-13.784-20.022 68.03 68.03 0 01-5.977-29.488l.001-.063a68.343 68.343 0 017.265-29.134 68.28 68.28 0 011.384-2.6 67.59 67.59 0 0110.102-13.687L429.966 21.113c25.592-27.611 68.721-29.247 96.331-3.656s29.247 68.721 3.656 96.331L224.088 443.784h730.46c37.647 0 68.166 30.519 68.166 68.166s-30.519 68.166-68.166 68.166H222.927z"
            ></path>
          </g>
        </svg>
        sair
      </button>
    </div>
    <div class="grow h-full flex-1">
      <component :is="views[state.game.view || 'Welcome']" />
    </div>
  </div></template>