<script setup>
import { inject, onMounted, ref } from "vue";
import gsap from "gsap";
import avatarTemplate from "../assets/avatar-template.png";
import TrumpetAudio from "../assets/sounds/party-trumpet-horn.wav";
import CorrectAnswerAudio from "../assets/sounds/correct-answer.wav";
import WrongAnswerAudio from "../assets/sounds/wrong-answer.wav";
import DrumRollAudio from "../assets/sounds/drum-roll.mp3";

const screenData = ref({
  draw: "/avatar-template.png",
  correctPrompt: "o corretor é esse aqui",
  prompts: [
    {
      data: "o corretor é esse aqui",
      voters: [
        { id: 2, profile: { avatar: avatarTemplate } },
        { id: 3, profile: { avatar: avatarTemplate } },
      ],
      author: { id: 4, profile: { avatar: avatarTemplate } },
    },
    {
      data: "prompt incorreto prompt incorreto prompt incorreto",
      voters: [{ id: 1, profile: { avatar: avatarTemplate } }],
      author: { id: 2, profile: { avatar: avatarTemplate } },
    },
  ],
});



const screenContainer = ref(null);
const drawContainer = ref(null);
const revealContainer = ref(null);

onMounted(() => {
  const tl = gsap.timeline({
   
  });
  // drop  draw
  tl.fromTo(
    drawContainer.value,
    {
      y: -screenContainer.value.offsetHeight,
    },
    {
      y: 0,
      duration: 1,
      ease: "bounce",
    }
  );
  Array.from(revealContainer.value.children).forEach((prompt, index) => {
    const isCorrect = prompt.getAttribute("correct-answer") === "true";
    const author = prompt.querySelector(".author");
    const voters = prompt.querySelectorAll(".voters");
    const text = prompt.querySelector("h1");
    const points = prompt.querySelectorAll(".points");
    tl.fromTo(
      prompt,
      {
        y: -screenContainer.value.offsetHeight,
        autoAlpha: 0,
      },
      {
        autoAlpha: 1,
        y: 0,
        duration: 1,
        ease: "bounce",
        delay: 0.5,
      }
    )
      .fromTo(
        voters,
        {
          y: screenContainer.value.offsetWidth,
          autoAlpha: 0,
        },
        {
          autoAlpha: 1,
          y: 0,
          duration: 0.5,
          ease: "power2.inOut",
          stagger: 0.5,
        }
      )
      .to(text, {
        // vibrate before reveal author 
        duration: 0.2,
        repeat: 5,
        ease: "none",
        keyframes: {
          0: { rotate: 0 },
          25: { rotate: 2 },
          50: { rotate: 0 },
          75: { rotate: -2 },
          100: { rotate: 0 },
        },
        onStart: () => {
          const drum = new Audio(DrumRollAudio);
          //   play for 1200ms and stop and reset
          drum.play();
          setTimeout(() => {
            drum.pause();
            drum.currentTime = 0;
          }, 1300);
        },
      })
      .fromTo(
        author,
        {
          y: 100,
          autoAlpha: 0,
        },
        {
          onStart: () => {
            if (isCorrect) {
              new Audio(CorrectAnswerAudio).play();
            } else {
              new Audio(WrongAnswerAudio).play();
            }
          },
          autoAlpha: 1,
          y: -10,
          duration: 0.5,
          ease: "power2.inOut",
        }
      )
      .fromTo(
        points,
        {
          y: 100,
          autoAlpha: 0,
        },
        {
          autoAlpha: 1,
          y: -10,
          duration: 0.5,
          ease: "power2.inOut",
        },
        "-=0.5"
      );
    if (isCorrect) {
      tl.to(
        text,
        {
          duration: 0.5,
          scale: 1.1,
          color: "rgb(34, 197, 94)",
          ease: "power2.inOut",
        },
        "-=0.5"
      );
    }

    tl.to(prompt, {
      autoAlpha: 0,
      duration: 0.5,
      x: screenContainer.value.offsetWidth,
      rotate: 15,
      ease: "power2.inOut",
      delay: 3,
    });
  });
  tl.to(
    drawContainer.value,
    {
      autoAlpha: 0,
      keyframes: {
        0: { x: 0 },
        25: { x: 100 },
        100: { x:  -screenContainer.value.offsetWidth },
      },
      duration: 1,
      ease: "power2.inOut",
    }
  );
});
</script>
<template>
  <div
    ref="screenContainer"
    class="flex h-full items-center justify-center overflow-hidden"
  >
    <div
      ref="drawContainer"
      class="w-1/3 p-4 flex justify-center items-center flex-col"
    >
      <div class="bg-white w-full aspect-[3/4]">
        <img src="/avatar-template.png" class="h-full object-contain" />
      </div>
    </div>
    <div
      ref="revealContainer"
      class="w-1/2 p-4 flex justify-center items-center flex-col relative"
    >
      <div
        v-for="prompt in screenData.prompts"
        :key="prompt.data"
        :correct-answer="prompt.data === screenData.correctPrompt"
        class="absolute w-full"
      >
        <div class="relative w-full">
          <div
            class="author flex gap-16 justify-center w-full absolute bottom-full"
          >
            <div class="w-1/5 relative">
              <p class="points absolute right-0 text-xl text-green-500">
                +{{
                  prompt.data === screenData.correctPrompt
                    ? 100 * prompt.voters.length
                    : 50 * prompt.voters.length
                }}
              </p>

              <img src="/avatar-template.png" class="w-full object-contain" />
            </div>
          </div>
          <h1
            class="text-5xl text-center font-black uppercase w-full"
            :class="{
              'text-4xl': prompt.data.length > 30,
            }"
          >
            {{ prompt.data }}
          </h1>
          <div class="flex justify-center flex-wrap w-full absolute top-full">
            <div
              v-for="(voter, index) in prompt.voters"
              :key="index"
              class="voters w-1/6 m-5 text-center relative"
            >
              <p class="points absolute right-0 text-xl text-green-500">+50</p>
              <img src="/avatar-template.png" class="w-full object-contain" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
