<script setup>
import { inject } from "vue";
import { useStateStore } from "../store/state.js";
import { useFullscreen } from '@vueuse/core'

const { isFullscreen, isSupported,enter, exit, toggle } = useFullscreen()
const socket = inject("socket");
const state = useStateStore();

const createRoom = () => {
  if(isSupported) {
    enter()
  }
  socket.emit("createRoom", ({ room }) => {
    state.room.code = room;
  });
};
</script>

<template>
  <div class="grid place-items-center h-full">
    <button
      @click="createRoom"
      class="border-black border-4 text-black text-xl font-bold font-mono uppercase px-8 py-4 rounded-lg hover:bg-black hover:text-white transition-all duration-300"
    >
      Criar sala
    </button>
  </div>
</template>
