<script setup>
import { inject, onMounted, ref } from "vue";
import { useStateStore } from "../store/state.js";
import { onKeyStroke } from "@vueuse/core";
const state = useStateStore();
const socket = inject("socket");

const games = ref([
  {
    name: "Artista Infiltrado",
    description:
      "Desenhe o que foi pedido, engane os outros jogadores e adivinhe o que eles desenharam para ganhar pontos.",
    component: "Drawful",
    minPlayers: 3,
    maxPlayers: 12,
    settings: {
      mode: "normal",
      drawingTime: 60,
      promptingTime: 60,
      votingTime: 30,
      rounds: 3,
    },
  },
  // {
  //   name: "Referências",
  //   description:
  //     "Escolha uma carta e dê um título a ela, os outros jogadores devem escolher cartas que sejam referências para o mesmo título, e então tentar adivinhar a carta original.",
  //   component: "Dixit",
  //   minPlayers: 3,
  //   maxPlayers: 12,
  //   settings: {
  //     mode: "normal",
  //     deck: "default",
  //     rounds: 3,
  //     time: 60,
  //   },
  // },
  // {
  //   name: "Mentira Verdadeira",
  //   component: "Fibbage",
  //   minPlayers: 3,
  //   maxPlayers: 12,
  //   settings: {
  //     mode: "normal",
  //     deck: "default",
  //     rounds: 3,
  //     time: 60,
  //   },
  // },
]);

const selectedGame = ref(null);
const focusedGame = ref(games.value[0]);
const gameOptions = ref({});
const error = ref("");

onMounted(() => {
  focusedGame.value = games.value[0];
  state.room.players.forEach((player) => {
    socket.emit("message", {
      to: player.id,
      type: "controller",
      controller: false,
      data: {},
    });
  });
});

onKeyStroke("ArrowLeft", () => moveFocus("left"));
onKeyStroke("ArrowRight", () => moveFocus("right"));
onKeyStroke("Enter", () => {
  startGame();
});

function moveFocus(direction) {
  const index = games.value.indexOf(focusedGame.value);
  if (direction === "left") {
    if (index === 0) {
      focusedGame.value = games.value[games.value.length - 1];
    } else {
      focusedGame.value = games.value[index - 1];
    }
  } else if (direction === "right") {
    if (index === games.value.length - 1) {
      focusedGame.value = games.value[0];
    } else {
      focusedGame.value = games.value[index + 1];
    }
  }
}

function startGame() {
  if (
    state.room.players.filter((p) => p.profile?.name).length <
    focusedGame.value.minPlayers
  ) {
    error.value = "Número de jogadores insuficiente";
    return;
  }

  state.game = focusedGame.value;
}

function banPlayer(player) {
  // confirmation dialog before banning
  console.log(player);
  const confirmation = confirm(`Deseja banir ${player.profile.name}?`);
  if (!confirmation) {
    return;
  }

  state.room.players = state.room.players.filter((p) => p.id !== player.id);
  if (!state.room.bannedPlayers) state.room.bannedPlayers = [];

  state.room.bannedPlayers.push(player.id);
  socket.emit("message", {
    to: player.id,
    type: "leave",
    data: {
      reason: "banned",
    },
  });
}
</script>

<template>
  <div class="h-full flex">
    <div class="bg-gray-300 w-96 p-6 flex flex-col">
      <div
        class="flex flex-col h-max text-lg justify-center items-center gap-2"
      >
        <p>Entre em</p>
        <p class="font-medium text-2xl">jogandojuntos.netlify.app</p>
        <p>e insira o código:</p>
        <h1
          class="text-7xl text-white font-mono font-black tracking-wides outiline-text-black"
        >
          {{ state.room.code }}
        </h1>
      </div>
      <div
        class="bg-white p-4 h-max gap-1 grow rounded-lg grid grid-cols-3 grid-rows-4 shadow-inner shadow-gray-700"
      >
        <div
          v-for="player in state.room.players.filter((p) => p.profile?.avatar)"
          :key="player.id"
          :style="{ color: player.colors[1] }"
          class="text-center max-w-full self-start cursor-pointer hover:opacity-70"
          @click="banPlayer(player)"
        >
          <img :src="player.profile.avatar" class="object-contain rounded-lg" />
          <p
            class="truncate text-center whitespace-pre-wrap w-full max-w-full font-bold overflow-hidden"
          >
            {{ player.profile.name }}
          </p>
        </div>
        <div
          v-for="p in 12 -
          state.room.players.filter((p) => p.profile?.avatar).length"
          class="opacity-30"
        >
          <img src="/avatar-template.png" class="object-contain rounded-lg" />
          <p
            class="truncate text-center whitespace-pre-wrap w-full max-w-full font-bold overflow-hidden"
          >
            ???
          </p>
        </div>
      </div>
    </div>
    <div class="grow flex flex-col">
      <div class="p-6 h-48">
        <p
          class="text-5xl uppercase font-mono font-black flex w-full justify-between transition-all"
        >
          {{ focusedGame.name }}
        </p>
        <p>
          {{ focusedGame.minPlayers }} - {{ focusedGame.maxPlayers }} jogadores
          <span v-if="error" class="text-red-500 font-bold">
            - {{ error }}
          </span>
        </p>
        <p class="text-sm max-w-prose">{{ focusedGame.description }}</p>
      </div>
      <div
        class="bg-teal-100 p-6 grow grid grid-cols-4 gap-6 place-content-start overflow-auto"
      >
        <div
          v-for="game in games"
          :key="game.name"
          class="aspect-video relative bg-white flex justify-center items-center transition-all cursor-pointer shadow-lg"
          :class="{
            'ring-4 ring-teal-500 transform scale-105':
              game.name === focusedGame.name,
          }"
          @click="startGame(game)"
          @mouseover="focusedGame = game"
        >
          {{ game.name }}
          <span
            class="absolute bottom-2 right-2 bg-black px-2 py-1 text-white rounded-full flex items-center gap-1 text-sm"
            :class="{
              'bg-gray-500': game.minPlayers > state.room.players.length,
              'bg-green-500': game.minPlayers <= state.room.players.length,
            }"
          >
            <svg
              class="h-4 w-4"
              viewBox="0 0 354.856 354.856"
              fill="currentColor"
            >
              <g>
                <path
                  d="M307.943,199.173c16.571-15.084,26.979-36.832,26.979-61.008c0-45.55-36.925-82.474-82.474-82.474   c-33.914,0-63.045,20.476-75.713,49.737c15.541,17.534,24.992,40.582,24.992,65.8c0,21.149-6.804,41.654-19.089,58.524   c11.606,10.24,21.178,22.617,28.169,36.35h144.049C348.867,237.946,331.568,213.976,307.943,199.173z"
                />
                <path
                  d="M0,299.166h204.811c-5.986-28.155-23.285-52.126-46.912-66.929   c16.573-15.084,26.979-36.832,26.979-61.009c0-45.549-36.924-82.474-82.474-82.474c-45.545,0-82.471,36.925-82.471,82.474   c0,24.177,10.404,45.925,26.978,61.009C23.284,247.04,5.986,271.01,0,299.166z"
                />
              </g>
            </svg>
            {{ game.minPlayers }} - {{ game.maxPlayers }}
          </span>
        </div>
        <div
          class="aspect-video relative bg-white flex justify-center items-center transition-all shadow-lg opacity-70"
        >
          Em breve mais jogos
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped></style>
