<script setup>
import gsap from "gsap";
import { Howl } from "howler";
import PopAudio from "../assets/sounds/pop1.mp3";
import ApplauseAudio from "../assets/sounds/applause.wav";
import DrumRollAudio from "../assets/sounds/drum-roll.mp3";
import TrompetPartyAudio from "../assets/sounds/party-trumpet-horn.wav";
import { onMounted, ref } from "vue";

const popSound = new Howl({
  src: [PopAudio],
  volume: 0.5,
});

const applauseSound = new Howl({
  src: [ApplauseAudio],
  volume: 0.5,
});

const trompetPartySound = new Howl({
  src: [TrompetPartyAudio],
  volume: 0.5,
});

const drumRollSound = new Howl({
  src: [DrumRollAudio],
  sprite: {
    drumRoll: [1000, 2300],
  },
  loop: true,
  volume: 0.5,
});
const screenData = ref({
  players: [
    {
      id: 1,
      colors: ["red", "blue"],
      profile: {
        avatar: "/avatar-template.png",
        name: "Player 1",
      },
      points: 100,
    },
    {
      id: 2,
      colors: ["red", "blue"],
      profile: {
        avatar: "/avatar-template.png",
        name: "Player 2",
      },
      points: 200,
    },
    {
      id: 3,
      colors: ["red", "blue"],
      profile: {
        avatar: "/avatar-template.png",
        name: "Player 3",
      },
      points: 300,
    },
    {
      id: 4,
      colors: ["red", "blue"],
      profile: {
        avatar: "/avatar-template.png",
        name: "Player 4",
      },
      points: 400,
    },
    {
      id: 5,
      colors: ["red", "blue"],
      profile: {
        avatar: "/avatar-template.png",
        name: "Player 5",
      },
      points: 500,
    },
    {
      id: 6,
      colors: ["red", "blue"],
      profile: {
        avatar: "/avatar-template.png",
        name: "Player 6",
      },
      points: 600,
    },
    {
      id: 7,
      colors: ["red", "blue"],
      profile: {
        avatar: "/avatar-template.png",
        name: "Player 7",
      },
      points: 700,
    },
    {
      id: 8,
      colors: ["red", "blue"],
      profile: {
        avatar: "/avatar-template.png",
        name: "Player 8",
      },
      points: 800,
    },
    {
      id: 9,
      colors: ["red", "blue"],
      profile: {
        avatar: "/avatar-template.png",
        name: "Player 9",
      },
      points: 900,
    },
    {
      id: 10,
      colors: ["red", "blue"],
      profile: {
        avatar: "/avatar-template.png",
        name: "Player 10",
      },
      points: 1000,
    },
    {
      id: 11,
      colors: ["red", "blue"],
      profile: {
        avatar: "/avatar-template.png",
        name: "Player 11",
      },
      points: 1100,
    },
    {
      id: 12,
      colors: ["red", "blue"],
      profile: {
        avatar: "/avatar-template.png",
        name: "Player 12",
      },
      points: 1200,
    },
  ],
});

const orderedPlayers = ref([]);
orderedPlayers.value = screenData.value.players.sort((a, b) => {
  return b.points - a.points;
});

const firstPlace = ref(null);
const secondPlace = ref(null);
const thirdPlace = ref(null);
const othersPlayers = ref(null);
const menu = ref(null);
const screen = ref(null);

onMounted(() => {
  const tl = gsap.timeline();
  tl.fromTo(
    screen.value,
    { autoAlpha: 0, scale: 0.5 },
    { autoAlpha: 1, scale: 1, duration: 1 }
  );
  if (orderedPlayers.value.length > 3) {
    tl.from(othersPlayers.value, {
      stagger: {
        amount: -1,
        onStart: () => {
          popSound.play();
        },
      },
      y: 100,
      autoAlpha: 0,
      ease: "elastic.out(1, 0.3)",

      duration: 2,
    });
  }

  tl.call(() => {
    drumRollSound.play("drumRoll");
  })
    .from(thirdPlace.value, {
      delay: 1,
      y: 100,
      autoAlpha: 0,
      ease: "elastic.out(1, 0.3)",
      onStart: () => {
        popSound.play();
      },

      duration: 1,
    })
    .from(secondPlace.value, {
      y: 100,
      autoAlpha: 0,
      ease: "elastic.out(1, 0.3)",
      onStart: () => {
        drumRollSound.stop();
        popSound.play();
      },
      duration: 1,
      delay: 1,
    })
    .from(
      firstPlace.value,
      {
        y: 100,
        ease: "elastic.out(1, 0.3)",
        autoAlpha: 0,
        onStart: () => {
          trompetPartySound.play();
          applauseSound.play();
        },
        duration: 2,
        scale: 0.5,
      },
      "-=1"
    )
    .from(menu.value, {
      y: 100,
      autoAlpha: 0,
      duration: 1,
    });
});
</script>

<template>
  <div
    ref="screen"
    class="flex flex-col justify-start items-center h-full w-full gap-16 py-4 overflow-hidden"
  >
    <div class="flex h-fit justify-around w-full" ref="menu">
      <button class="bg-black text-sm text-white py-4 px-8 rounded-lg uppercase font-bold tracking-wider">Nova rodada</button>
      <button class="bg-black text-sm text-white py-4 px-8 rounded-lg uppercase font-bold tracking-wider">Novo Jogo</button>
      <button class="bg-black text-sm text-white py-4 px-8 rounded-lg uppercase font-bold tracking-wider">Sair</button>
    </div>
    <div class="flex-1 h-full w-full">
      <div class="h-2/3 w-full">
        <div
          class="flex justify-center items-start gap-12 w-1/2 mx-auto h-full"
        >
          <div
            class="second-place flex flex-col items-center justify-center mt-16"
            ref="secondPlace"
          >
            <p
              class="text-2xl font-black"
              :style="{
                color: orderedPlayers[1].colors[1],
              }"
            >
              {{ orderedPlayers[1].points }}
            </p>
            <img
              class="object-contain h-full"
              :src="orderedPlayers[1].profile.avatar"
              alt=""
            />
            <p
              class="text-xl text-center font-black"
              :style="{
                color: orderedPlayers[1].colors[1],
              }"
            >
              {{ orderedPlayers[1].profile.name }}
            </p>
            <h2
              class="mt-2 text-2xl text-center grid place-content-center text-white rounded-full w-12 h-12 font-black"
              :style="{
                background: orderedPlayers[1].colors[1],
              }"
            >
              2º
            </h2>
          </div>
          <div
            class="first-place flex flex-col items-center justify-center basis-1/3"
            ref="firstPlace"
          >
            <p
              class="text-3xl font-black"
              :style="{
                color: orderedPlayers[0].colors[1],
              }"
            >
              {{ orderedPlayers[0].points }}
            </p>
            <img
              class="object-contain h-full"
              :src="orderedPlayers[0].profile.avatar"
              alt=""
            />
            <p
              class="text-xl text-center font-black"
              :style="{
                color: orderedPlayers[0].colors[1],
              }"
            >
              {{ orderedPlayers[0].profile.name }}
            </p>
            <h2
              class="mt-2 text-3xl text-center grid place-content-center text-white rounded-full w-14 h-14 font-black"
              :style="{
                background: orderedPlayers[0].colors[1],
              }"
            >
              1º
            </h2>
          </div>
          <div
            class="third-place flex flex-col items-center justify-center mt-32"
            ref="thirdPlace"
          >
            <p
              class="text-xl font-black"
              :style="{
                color: orderedPlayers[2].colors[1],
              }"
            >
              {{ orderedPlayers[2].points }}
            </p>
            <img
              class="object-contain h-full"
              :src="orderedPlayers[2].profile.avatar"
              alt=""
            />
            <p
              class="text-xl text-center font-black"
              :style="{
                color: orderedPlayers[2].colors[1],
              }"
            >
              {{ orderedPlayers[2].profile.name }}
            </p>
            <h2
              class="mt-2 text-xl text-center grid place-content-center text-white rounded-full w-10 h-10 font-black"
              :style="{
                background: orderedPlayers[2].colors[1],
              }"
            >
              3º
            </h2>
          </div>
        </div>
      </div>
      <div class="h-1/3" v-if="orderedPlayers.length > 3">
        <div
          class="grid grid-cols-[repeat(auto-fit,minmax(0,.1fr))] gap-3 w-full place-content-center justify-items-center"
        >
          <div
            class=""
            v-for="(player, index) in orderedPlayers.slice(3)"
            ref="othersPlayers"
          >
            <p
              class="text-lg text-center font-black"
              :style="{
                color: player.colors[1],
              }"
            >
              {{ player.points }}
            </p>
            <div>
              <img
                class="object-contain h-full"
                :src="player.profile.avatar"
                alt=""
              />
            </div>
            <div class="text-lg text-center font-black" :style="{
                color: player.colors[1],
              }">
              {{ player.profile.name }}
            </div>
            <h2
              class="text-lg text-center font-black"
              :style="{
                color: player.colors[1],
              }"
            >
              {{ index + 3 }}º
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped></style>
