<script setup>
import { defineProps, ref, watch } from "vue";
import { Howl, Howler } from "howler";
import VoicesAudio from "../assets/sounds/voices.wav";
import TickAudio from "../assets/sounds/tick1.mp3";
import AlarmAudio from "../assets/sounds/alarm1.mp3";

const props = defineProps({
  countdown: {
    type: Number,
    required: true,
  },
});
const initialCountdown = ref(null);
initialCountdown.value = props.countdown;

const playSound = (sound) => {
  const sounds = new Howl({
    src: [VoicesAudio],
    volume: 1,
    sprite: {
      halftime: [0, 1200],
      running: [2000, 1000],
      last10: [3100, 2200],
      5: [5900, 900],
      4: [6800, 800],
      3: [7600, 600],
      2: [8100, 600],
      1: [8750, 700],
      finish: [9450, 900],
    },
  });

  sounds.play(sound);
  console.log(sounds);
};

const playTick = () => {
  const tick = new Howl({
    src: [TickAudio],
    volume: 0.3,
  });
  tick.play();
};

const playAlarm = () => {
  const alarm = new Howl({
    src: [AlarmAudio],
    volume: 1,
    // just one sec
    sprite: {
      alarm: [0, 1000],
    },
  });
  alarm.play("alarm");
};

watch(
  () => props.countdown,
  (newCountdown) => {
    if (newCountdown === 0) {
      playSound("finish");
    } else if (newCountdown === 1) {
      playSound("1");
    } else if (newCountdown === 2) {
      playSound("2");
    } else if (newCountdown === 3) {
      playSound("3");
    } else if (newCountdown === 3) {
      playSound("3");
    } else if (newCountdown === 4) {
      playSound("4");
    } else if (newCountdown === 4) {
      playSound("4");
    } else if (newCountdown === 5) {
      playSound("5");
    } else if (newCountdown === 10 && initialCountdown.value > 10) {
      playSound("last10");
    } else if (
      newCountdown === initialCountdown.value / 2 &&
      initialCountdown.value > 30
    ) {
      playSound("halftime");
    }

    if (newCountdown > 0) {
      playTick();
    } else {
      playAlarm();
    }
  }
);
</script>

<template>
  <div
    class="border-2 border-black rounded-full w-32 h-32 aspect-square grid place-items-center transition-all"
    :class="{
      'border-red-500': countdown <= 10,
    }"
  >
    <h1
      class="text-6xl outiline-text-black text-center text-white font-black leading-tight transition-all duration-300 ease-in-out text-"
      :class="{
        'text-6xl': countdown > 99,

        'border-red-500 outiline-text-red': countdown <= 10,
      }"
    >
      {{ countdown }}
    </h1>
  </div>
</template>
