<script setup>
import { defineProps } from "vue";

defineProps({
  status: {
    type: String,
    required: true,
  },
});
</script>

<template>
  <svg
    v-if="status === 'drawing'"
    class="h-8 w-8 animate-swing"
    viewBox="0 0 64 64"
    fill="currentColor"
  >
    <g>
      <path
        d="M43.3818169,14.7553797l-15.7851009-4.1719007c-0.2563992-0.0682993-0.5298004-0.0311995-0.7582912,0.1026001   c-0.2295094,0.1337004-0.3959999,0.3525-0.4639091,0.6084003l-9.4145985,35.6230011   c-0.0444012,0.1688995-0.0444012,0.3466988,0.0009995,0.5155983l4.2602997,15.8272018   c0.0932083,0.3456993,0.3642082,0.6152,0.7103996,0.7069969c0.0845013,0.0225029,0.1699009,0.0332031,0.2553997,0.0332031   c0.2637005,0,0.5209999-0.1044998,0.7109013-0.2969017L34.421917,52.048378   c0.1229973-0.1240997,0.2108994-0.2784004,0.2557983-0.4473l9.4151001-35.6231003   C44.2344246,15.4438791,43.9150162,14.8969793,43.3818169,14.7553797z M22.7002163,61.0590782l-1.3078995-4.8586006   l4.8323002,1.2940025L22.7002163,61.0590782z M32.8125153,50.8315811l-4.9694996,5.0261002l-7.051199-1.8883018   l-1.8299007-6.7980003l9.0907993-34.3983994l13.8506012,3.660099L32.8125153,50.8315811z"
      />
      <path
        d="M46.3291168,4.2436795l-15.9296913-4.21c-0.2568092-0.0693-0.52981-0.0322-0.7583103,0.1026   c-0.2294998,0.1337-0.3959999,0.3525-0.4638996,0.6084l-1.7425995,6.5966001   c-0.1411915,0.5341997,0.1772003,1.0820994,0.711401,1.2226996l15.9291973,4.2098999   c0.0839996,0.0225,0.1699028,0.0333004,0.2558022,0.0333004c0.1748009,0,0.3486977-0.0459003,0.5029984-0.1358004   c0.2294998-0.1337996,0.3964996-0.3525,0.4638023-0.6093998l1.7421989-6.5966001   C47.1806145,4.9321795,46.8623161,4.3842793,46.3291168,4.2436795z M43.6191139,10.5844793L29.6235161,6.8862796   l1.2320004-4.6631002l13.9960003,3.6982002L43.6191139,10.5844793z"
      />
      <path
        d="M29.3252163,44.0932808c0.0853996,0.0223999,0.1714001,0.0331993,0.2558002,0.0331993   c0.4428997,0,0.8477001-0.2959023,0.9662991-0.7442017L36.7373161,19.96138   c0.1416016-0.5341015-0.1777-1.0810013-0.7109985-1.2226009c-0.5312004-0.1387005-1.0820007,0.1767006-1.2226028,0.7109013   l-6.1898994,23.4208984C28.4726162,43.4047775,28.7910156,43.9526787,29.3252163,44.0932808z"
      />
    </g>
  </svg>

  <svg
    v-else-if="status === 'done'"
    class="h-8 w-8"
    fill="currentColor"
    viewBox="0 0 400 400"
  >
    <path
      d="M199.996,0C89.713,0,0,89.72,0,200s89.713,200,199.996,200S400,310.28,400,200S310.279,0,199.996,0z M199.996,373.77    C104.18,373.77,26.23,295.816,26.23,200c0-95.817,77.949-173.769,173.766-173.769c95.817,0,173.771,77.953,173.771,173.769    C373.768,295.816,295.812,373.77,199.996,373.77z"
    />
    <path
      d="M272.406,134.526L169.275,237.652l-41.689-41.68c-5.123-5.117-13.422-5.12-18.545,0.003    c-5.125,5.125-5.125,13.425,0,18.548l50.963,50.955c2.561,2.558,5.916,3.838,9.271,3.838s6.719-1.28,9.279-3.842    c0.008-0.011,0.014-0.022,0.027-0.035L290.95,153.071c5.125-5.12,5.125-13.426,0-18.546    C285.828,129.402,277.523,129.402,272.406,134.526z"
    />
  </svg>
  <svg
    v-else-if="status === 'crowned'"
    class="h-12 w-12 rotate-12"
    fill="currentColor"
    viewBox="0 0 455 455"
  >
    <g>
      <polygon
        points="227.495,150 133.746,200 45.467,150 84.267,330 370.733,330 409.533,150 321.247,200   "
      />
    </g>
    <g>
      <rect x="87.5" y="360" width="280" height="55" />
    </g>
    <g>
      <circle cx="40" cy="80" r="40" />
    </g>
    <g>
      <circle cx="415" cy="80" r="40" />
    </g>
    <g>
      <circle cx="227.5" cy="80" r="40" />
    </g>
  </svg>
 
  <div v-else class="h-8 w-8 font-bold text-2xl text-center">
    {{ status }}
  </div>
</template>
