<script setup>
import { defineProps } from "vue";
import PlayerStatusIcon from "./PlayerStatusIcon.vue";

defineProps({
  players: {
    type: Array,
    required: true,
  },
  getStatus: {
    type: Function,
    required: false,
  },
});
</script>

<template>
  <div
    class="grid gap-2 place-items-center w-full"
    :class="{
      'grid-cols-[repeat(auto-fit,minmax(4rem,1fr))]': players.length > 10,
      'grid-cols-[repeat(auto-fit,minmax(5rem,1fr))]': players.length <= 10,
    }"
  >
    <div
      v-for="player in players"
      :key="player.id"
      :style="{ color: player.colors[1] }"
      class="text-center max-w-full self-start relative"
    >
      <PlayerStatusIcon
        v-if="getStatus"
        class="absolute -top-5 -right-1"
        :status="getStatus(player)"
      />
      <img
        v-if="player.profile.avatar"
        :src="player.profile.avatar"
        class="object-contain"
        :class="{
          ' w-12 h-12': players.length > 10,
          ' w-16 h-16': players.length <= 10,
        }"
      />
      <p
        class="truncate whitespace-pre-wrap w-full max-w-full font-bold overflow-hidden"
      >
        {{ player.profile.name || player.id }}
      </p>
    </div>
    <div v-if="!players.length">
      <p class="text-center">Aguardando jogadores</p>
    </div>
  </div>
</template>
