<script setup>
import { defineProps } from "vue";

defineProps({
  correct: {
    type: Boolean,
    required: true,
  },
  showResults: {
    type: Boolean,
    required: true,
  },
  prompt: {
    type: String,
    required: true,
  },
  author: {
    type: Object,
    required: true,
  },
  voters: {
    type: Array,
    required: true,
  },
});
</script>

<template>
  <div
    class="border-4 border-black px-2 py-1 relative flex justify-between items-center w-96 transition-all"
    :style="{
      borderColor: showResults ? author.colors[1] : 'black',
      color: showResults ? author.colors[1] : 'black',
    }"
    :class="{
      'ring-8 ring-offset-2 font-bold ring-green-600 transform  scale-110 transition-all':
        correct && showResults,
      'pb-5': showResults && voters.length > 0,
    }"
  >
    <p class="p-1 text-center w-full font-mono break-words">
      {{ prompt }}
    </p>
    <!-- author -->
    <div
      v-if="showResults"
      class="absolute -top-6 -left-6 bg-white rounded-full"
    >
      <div
        :style="{
          color: author.colors[1],
        }"
        class="text-center max-w-full self-center w-10 h-10 relative"
      >
        <p class="absolute font-mono text-sm -top-3 left-6">
          +{{ correct ? 100 * voters.length : 50 * voters.length }}
        </p>
        <img
          v-if="author.profile.avatar"
          :src="author.profile.avatar"
          class="object-contain w-10 h-10"
        />
      </div>
    </div>
    <!-- votes -->
    <div
      v-if="showResults"
      class="absolute left-0 bottom-0 flex flex-wrap justify-center items-center w-full gap-5 p-1"
    >
      <div
        v-for="voter in voters"
        :style="{
          color: voter.colors[1],
        }"
        class="text-center max-w-full self-center w-5 h-5 relative"
      >
        <p class="absolute font-mono text-xs -top-2 left-3" v-if="correct">
          +100
        </p>

        <img
          v-if="voter.profile.avatar"
          :src="voter.profile.avatar"
          class="object-contain w-5 h-5"
        />
      </div>
    </div>
  </div>
</template>
