<script setup>
import { inject, onMounted, ref } from "vue";
import { useStateStore } from "../../store/state.js";
import gsap from "gsap";
import avatarTemplate from "../../assets/avatar-template.png";
import CorrectAnswerAudio from "../../assets/sounds/correct-answer.wav";
import WrongAnswerAudio from "../../assets/sounds/wrong-answer.wav";
import TrompetPartyAudio from "../../assets/sounds/party-trumpet-horn.wav";
import DrumRollAudio from "../../assets/sounds/drum-roll.mp3";
import { Howl, Howler } from "howler";

const correctAnswerSound = new Howl({
  src: [CorrectAnswerAudio],
  volume: 0.5,
});

const wrongAnswerSound = new Howl({
  src: [WrongAnswerAudio],
  volume: 0.5,
});

const trompetPartySound = new Howl({
  src: [TrompetPartyAudio],
  volume: 0.5,
});

const drumRollSound = new Howl({
  src: [DrumRollAudio],
  sprite: {
    drumRoll: [0, 1300],
  },
  volume: 0.5,
});

const socket = inject("socket");
const state = useStateStore();

const screenData = ref({
  draw: state.game.round.draw,
  correctPrompt: state.game.round.prompt,
  prompts: formatPrompts(),
});

function formatPrompts() {
  const prompts = state.game.prompts
    .map((prompt) => {
      const voters = state.game.votes
        .filter((vote) => vote.data === prompt.data)
        .map((v) => v.player);

      return {
        correct: prompt.data === state.game.round.prompt,
        data: prompt.data,
        voters,
        author: prompt.player,
      };
    })
    .filter((group) => group.voters.length > 0 || group.correct);

  prompts.sort((a, b) => {
    if (a.correct) return 1;
    if (b.correct) return -1;
    return 0;
  });

  return prompts;
}

const screenContainer = ref(null);
const drawContainer = ref(null);
const revealContainer = ref(null);

onMounted(() => {
  const tl = gsap.timeline({
    onComplete: () => {
      state.game.view = "ShowingFeedback";
    },
  });
  // drop  draw
  tl.fromTo(
    drawContainer.value,
    {
      y: -screenContainer.value.offsetHeight,
    },
    {
      y: 0,
      duration: 1,
      ease: "bounce",
    }
  );
  Array.from(revealContainer.value.children).forEach((prompt, index) => {
    const isCorrect = prompt.getAttribute("correct-answer") === "true";
    const author = prompt.querySelector(".author");
    const voters = prompt.querySelectorAll(".voters");
    const text = prompt.querySelector("h1");
    const points = prompt.querySelectorAll(".points");
    tl.fromTo(
      prompt,
      {
        y: -screenContainer.value.offsetHeight,
        autoAlpha: 0,
      },
      {
        autoAlpha: 1,
        y: 0,
        duration: 1,
        ease: "bounce",
        delay: 0.5,
      }
    )
      .fromTo(
        voters,
        {
          y: screenContainer.value.offsetWidth,
          autoAlpha: 0,
        },
        {
          autoAlpha: 1,
          y: 0,
          duration: 0.5,
          ease: "power2.inOut",
          stagger: 0.5,
        }
      )
      .to(text, {
        // vibrate before reveal author
        duration: 0.2,
        repeat: 5,
        ease: "none",
        keyframes: {
          0: { rotate: 0 },
          25: { rotate: 2 },
          50: { rotate: 0 },
          75: { rotate: -2 },
          100: { rotate: 0 },
        },
        onStart: () => {
          drumRollSound.play("drumRoll");
        },
      })
      .fromTo(
        author,
        {
          y: 100,
          autoAlpha: 0,
        },
        {
          onStart: () => {
            if (isCorrect) {
              if (Array.from(voters).length > 0) correctAnswerSound.play();
              else trompetPartySound.play();
            } else {
              wrongAnswerSound.play();
            }
          },
          autoAlpha: 1,
          y: -10,
          duration: 0.5,
          ease: "power2.inOut",
        }
      )
      .fromTo(
        points,
        {
          y: 100,
          autoAlpha: 0,
        },
        {
          autoAlpha: 1,
          y: -10,
          duration: 0.5,
          ease: "power2.inOut",
        },
        "-=0.5"
      )
      .to(
        text,
        {
          onStart: () => {
            drumRollSound.stop();
          },
          duration: 0.5,
          scale: 1.1,
          color: isCorrect ? "rgb(34, 197, 94)" : "rgb(239, 68, 68)",
          ease: "power2.inOut",
        },
        "-=0.5"
      )
      .to(prompt, {
        autoAlpha: 0,
        duration: 0.5,
        x: screenContainer.value.offsetWidth,
        rotate: 15,
        ease: "power2.inOut",
        delay: 3,
      });
  });
  tl.to(drawContainer.value, {
    autoAlpha: 0,
    keyframes: {
      0: { x: 0 },
      25: { x: 100 },
      100: { x: -screenContainer.value.offsetWidth },
    },
    duration: 1,
    ease: "power2.inOut",
  });
});
</script>
<template>
  <div
    ref="screenContainer"
    class="flex h-full items-center justify-center overflow-hidden"
  >
    <div
      ref="drawContainer"
      class="w-1/3 p-4 flex justify-center items-center flex-col"
    >
      <div class="bg-white w-full aspect-[3/4]">
        <img :src="screenData.draw" class="h-full object-contain" />
      </div>
    </div>
    <div
      ref="revealContainer"
      class="w-1/2 p-4 flex justify-center items-center flex-col relative"
    >
      <div
        v-for="prompt in screenData.prompts"
        :key="prompt.data"
        :correct-answer="prompt.correct"
        class="absolute w-full"
      >
        <div class="relative w-full">
          <div
            class="author flex gap-16 justify-center w-full absolute bottom-full"
          >
            <div class="w-1/5 relative">
              <p class="points absolute right-0 text-xl text-green-500">
                +{{
                  prompt.correct
                    ? 100 * prompt.voters.length
                    : 50 * prompt.voters.length
                }}
              </p>

              <img
                :src="prompt.author.profile.avatar"
                class="w-full object-contain"
              />
            </div>
          </div>
          <h1
            class="text-5xl text-center font-black uppercase w-full"
            :class="{
              'text-4xl': prompt.data.length > 30,
            }"
          >
            {{ prompt.data }}
          </h1>
          <div class="flex justify-center flex-wrap w-full absolute top-full">
            <div
              v-for="(voter, index) in prompt.voters"
              :key="index"
              class="voters w-1/6 m-5 text-center relative"
            >
              <p
                class="points absolute right-0 text-xl text-green-500"
                v-if="prompt.correct"
              >
                +100
              </p>
              <img :src="voter.profile.avatar" class="w-full object-contain" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
