<script setup>
import { inject, onMounted, ref } from "vue";
import { useStateStore } from "../../store/state.js";
import { useTimeoutPoll } from "@vueuse/core";
import Countdown from "../../components/Countdown.vue";
import gsap from "gsap";
import { Howl, Howler } from "howler";
import VoicesAudio from "../../assets/sounds/voices.wav";
const socket = inject("socket");
const state = useStateStore();

state.game.prompts = [
  {
    player: state.game.round.currentPlayer,
    data: state.game.round.prompt,
  },
];

state.handleMessage = (message) => {
  if (message.data.type === "prompt") {
    const player = state.room.players.find((p) => p.id === message.from);
    if (message.data.prompt && message.data.prompt.length > 0) {
      if (
        state.game.settings.promptingTime > 0 &&
        countdown.value > 0 &&
        state.game.prompts.find((p) => p.data === message.data.prompt.toLowerCase())
      ) {
        socket.emit("message", {
          to: player.id,
          type: "controller",
          controller: "Prompt",
          data: { error: "same-prompt" },
        });
        return;
      }

      state.game.prompts.push({
        player,
        data: message.data.prompt,
      });
    }
    playersDone.value.push(player);

    player.status = "done";

    if (
      !state.room.players.some(
        (p) =>
          p.id !== state.game.round.currentPlayer.id &&
          p.online &&
          p.status !== "done"
      )
    ) {
      state.game.prompts.sort(() => Math.random() - 0.5);
      gsap.to(screenContainer.value, {
        x: screenContainer.value.offsetWidth,
        delay: 1,
        autoAlpha: 0,
        duration: 1,
        ease: "power2.inOut",
        onComplete: () => {
          state.game.view = "ShowingDrawAndGuesses";
        },
      });
    }
  }
};

function start() {
  state.room.players
    .filter((p) => p.id !== state.game.round.currentPlayer.id)
    .forEach((player) => {
      player.status = "prompting";
      socket.emit("message", {
        to: player.id,
        type: "controller",
        controller: "Prompt",
        data: {},
      });
    });
  if (state.game.settings.promptingTime > 0) {
    countdown.value = state.game.settings.promptingTime;
    resume();
  }
}
const screenContainer = ref(null);
const countdownContainer = ref(null);
const drawContainer = ref(null);

onMounted(() => {
  const tl = gsap.timeline();

  tl.fromTo(
    drawContainer.value,
    {
      y: -screenContainer.value.offsetHeight,
    },
    {
      y: 0,
      duration: 1,
      ease: "back",
    }
  ).from(countdownContainer.value, {
    autoAlpha: 0,
    y: -100,
    duration: 0.5,
    ease: "power2.inOut",
    onComplete: () => {
      const sounds = new Howl({
          src: [VoicesAudio],
          volume: 1,
          sprite: {
            drawingTime: [11000, 1200],
            whatIsThis: [12200, 1100],
            whichIsCorrect: [13300, 1400],
          },
        });

        sounds.play('whatIsThis');
      start();
    },
  });
});

const countdown = ref(state.game.settings.promptingTime);

const checkCountdown = async () => {
  countdown.value--;
  if (countdown.value <= 0) {
    pause();

    state.room.players
      .filter((p) => p.status === "prompting")
      .forEach((player) => {
        socket.emit("message", {
          to: player.id,
          type: "finish",
        });
      });
  }
};

const { isActive, pause, resume } = useTimeoutPoll(checkCountdown, 1000);

const playersDone = ref([]);
</script>
<template>
  <div
    ref="screenContainer"
    class="flex justify-center items-center h-full w-full gap-16 p-4"
  >
    <div class="w-fit fixed top-4 right-4" ref="countdownContainer">
      <Countdown
        clas
        :countdown="countdown"
        v-if="state.game.settings.promptingTime !== 0"
      />
    </div>
    <div
      class="grid grid-cols-2 grid-rows-3 place-content-center justify-items-center w-96"
    >
      <div
        v-for="player in playersDone.filter((p, i) => i % 2 === 0)"
        :key="player.id"
        :style="{ color: player.colors[1] }"
        class="text-center w-32"
        @click="banPlayer(player)"
      >
        <img
          :src="player.profile.avatar"
          class="object-contain rounded-full transform -rotate-6 animate-swing"
          :class="{
            '-rotate-45': Math.random() > 0.5,
          }"
        />
      </div>
    </div>
    <div
      ref="drawContainer"
      class="grow flex flex-col items-center justify-center h-full"
    >
      <p class="text-5xl uppercase font-mono">o que é isso?</p>
      <img class="h-5/6 object-contain" :src="state.game.round.draw" alt="" />
    </div>
    <div
      class="grid grid-cols-2 grid-rows-3 place-content-center justify-items-center w-96"
    >
      <div
        v-for="player in playersDone.filter((p, i) => i % 2 !== 0)"
        :key="player.id"
        :style="{ color: player.colors[1] }"
        class="text-center w-32"
        @click="banPlayer(player)"
      >
        <img
          :src="player.profile.avatar"
          class="object-contain rounded-fulltransform rotate-6 rota animate-swing"
          :class="{
            'rotate-45': Math.random() > 0.5,
          }"
        />
      </div>
    </div>
  </div>
</template>

<style scoped>
h1 {
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}
</style>
