<script setup>
import { inject, onMounted, ref } from "vue";
import { useStateStore } from "../../store/state.js";
import { get, useTimeoutPoll } from "@vueuse/core";
import Countdown from "../../components/Countdown.vue";
import gsap from "gsap";
import { Howl, Howler } from "howler";
import VoicesAudio from "../../assets/sounds/voices.wav";

const socket = inject("socket");
const state = useStateStore();

state.game.votes = [];

function computePoints() {
  state.game.votes.forEach((vote) => {
    if (vote.data === state.game.round.prompt) {
      const voter = vote.player;
      voter.points = voter.points ? voter.points + 100 : 100;

      const currentPlayer = state.game.round.currentPlayer;
      currentPlayer.points = currentPlayer.points
        ? currentPlayer.points + 100
        : 100;
    } else {
      const promptAuthor = state.game.prompts.find(
        (prompt) => prompt.data.toLowerCase().trim() === vote.data.toLowerCase().trim()
      ).player;

      promptAuthor.points = promptAuthor.points ? promptAuthor.points + 50 : 50;
    }
  });
}

state.handleMessage = (message) => {
  if (message.data.type === "vote") {
    const player = state.room.players.find((p) => p.id === message.from);

    if (message.data.vote && message.data.vote.length)
      state.game.votes.push({
        player,
        data: message.data.vote,
      });
    player.status = "done";

    if (!state.room.players.some((p) => p.online && p.status !== "done")) {
      computePoints();
      gsap.to(
        screenContainer.value,
        {
          y: screenContainer.value.offsetHeight,
          delay: 1,
          autoAlpha: 0,
          duration: 1,
          ease: "power2.inOut",
          onComplete: () => {
            state.game.view = "Reveal";
          },
        }
      );
    }
  }
};

function start() {
  state.room.players
    .filter((p) => p.id !== state.game.round.currentPlayer.id)
    .forEach((player) => {
      const options = state.game.prompts
        .filter((prompt) => prompt.player.id !== player.id)
        .map((prompt) => prompt.data.toLowerCase())
        .sort(() => Math.random() - 0.5);
      player.status = "voting";
      socket.emit("message", {
        to: player.id,
        type: "controller",
        controller: "Choice",
        data: {
          options,
        },
      });
    });
  if (state.game.settings.votingTime > 0) {
    countdown.value = state.game.settings.votingTime;
    resume();
  }
}
const screenContainer = ref(null);
const countdownContainer = ref(null);
const drawContainer = ref(null);
const promptItems = ref([]);
onMounted(() => {
  const tl = gsap.timeline();
  tl.fromTo(
    drawContainer.value,
    {
      x: drawContainer.value.offsetWidth,
      autoAlpha: 0,
    },
    {
      x: 0,
      autoAlpha: 1,
      duration: 1,
      ease: "power2.inOut",
    }
  )
    .fromTo(
      promptItems.value,
      {
        autoAlpha: 0,
      },
      {
        stagger: 0.1,
        autoAlpha: 1,
        duration: 1,
        ease: "power2.inOut",
      }
    )
    .fromTo(
      countdownContainer.value,
      {
        y: -drawContainer.value.offsetHeight,
        autoAlpha: 0,
      },
      {
        y: 0,
        autoAlpha: 1,
        duration: 1,
        ease: "power2.inOut",
        onComplete: () => {
          const sounds = new Howl({
          src: [VoicesAudio],
          volume: 1,
          sprite: {
            drawingTime: [11000, 1200],
            whatIsThis: [12200, 1100],
            whichIsCorrect: [13300, 1400],
          },
        });

        sounds.play('whichIsCorrect');
          start();
        },
      }
    );
});

const countdown = ref(state.game.settings.votingTime);

const checkCountdown = async () => {
  countdown.value--;
  if (countdown.value <= 0) {
    pause();

    state.room.players
      .filter((p) => p.status === "voting")
      .forEach((player) => {
        socket.emit("message", {
          to: player.id,
          type: "finish",
        });
      });
  }
};

const getPlayer = (id) => {
  return state.room.players.find((player) => player.id === id);
};
const getStatus = (player) => player.status;

const { isActive, pause, resume } = useTimeoutPoll(checkCountdown, 1000);
</script>
<template>
  <div
    ref="screenContainer"
    class="flex justify-center items-center h-full w-full px-16 py-4"
  >
    <div
      class="grid grid-cols-1 grow flex-1 place-content-center justify-items-center w-96 gap-16"
    >
      <div
        v-for="(prompt, index) in state.game.prompts.filter(
          (p, i) => i % 2 === 0
        )"
        :key="prompt.data"
        class="text-center"
        ref="promptItems"
      >
        <p
          class="text-5xl uppercase font-black"
          :style="{
            transform:
              'rotate(' +
              (6 -
                (12 /
                  (state.game.prompts.filter((p, i) => i % 2 === 0).length -
                    1)) *
                  index) +
              'deg)',
          }"
          :class="{
            'text-4xl': prompt.data.length > 20,
          }"
        >
          {{ prompt.data }}
        </p>
      </div>
    </div>
    <div class="grow flex-1 flex flex-col items-center h-full">
      <div ref="countdownContainer">
        <Countdown
          :countdown="countdown"
          v-if="state.game.settings.votingTime !== 0"
        />
      </div>
      <div ref="drawContainer" class="flex-1 grow w-full">
        <img
          class="h-5/6 w-full object-contain"
          :src="state.game.round.draw"
          alt=""
        />
      </div>
    </div>
    <div
      class="grid grid-cols-1 grow flex-1 place-content-center justify-items-center w-96 gap-16"
    >
      <div
        ref="promptsItems"
        v-for="(prompt, index) in state.game.prompts.filter(
          (p, i) => i % 2 !== 0
        )"
        :key="prompt.data"
        class="text-center"
      >
        <p
          class="text-5xl uppercase font-black"
          :style="{
            transform:
              'rotate(' +
              (-6 +
                (12 /
                  (state.game.prompts.filter((p, i) => i % 2 !== 0).length -
                    1)) *
                  index) +
              'deg)',
          }"
          :class="{
            'text-4xl': prompt.data.length > 20,
          }"
        >
          {{ prompt.data }}
        </p>
      </div>
    </div>
  </div>
</template>
