<script setup>
import { inject, onMounted, ref } from "vue";
import { useStateStore } from "../../store/state.js";
import gsap from "gsap";

const socket = inject("socket");
const state = useStateStore();

function checkEnd() {
  if (!state.game.history) state.game.history = [];

  state.game.history.push({
    draw: state.game.round.draw,
    prompt: state.game.round.prompt,
    currentPlayer: state.game.round.currentPlayer,
  });

  const nextDraw = state.game.draws.shift();

  state.game.prompts = [];
  state.game.votes = [];

  if (!nextDraw) {
    if (--state.game.remainingRounds === 0) {
      state.game.view = "EndGame";
    } else {
      state.game.round = null;
      state.game.draws = [];
      state.game.view = "WaitingDraws";
    }
    return;
  }
  state.game.round.currentPlayer = nextDraw.player;
  state.game.round.draw = nextDraw.data;
  state.game.round.prompt = nextDraw.prompt;

  state.game.view = "ShowingDraw";
}

const drawContainer = ref(null);
const itemsRef = ref([]);
const screenContainer = ref(null);

const screenData = ref({
  draw: null,
  prompt: null,
  players: [],
  currentPlayer: state.game.round.currentPlayer,
});

function getPlayerWithRoundPoints() {
  const players = state.room.players.map((player) => {
    let prompt = "";
    if (state.game.prompts.find((prompt) => prompt.player.id === player.id)) {
      prompt = state.game.prompts.find(
        (prompt) => prompt.player.id === player.id
      ).data;
    }
    return {
      profile: player.profile,
      points: 0,
      id: player.id,
      prompt,
    };
  });
  state.game.votes.forEach((vote) => {
    if (vote.data === state.game.round.prompt) {
      const voter = players.find((p) => p.id === vote.player.id);
      voter.points = voter.points ? voter.points + 100 : 100;

      const currentPlayer = players.find(
        (p) => p.id === state.game.round.currentPlayer.id
      );
      currentPlayer.points = currentPlayer.points
        ? currentPlayer.points + 100
        : 100;
    } else {
      const promptAuthor = state.game.prompts.find(
        (prompt) => prompt.data === vote.data
      ).player;
      const author = players.find((p) => p.id === promptAuthor.id);

      author.points = author.points ? author.points + 50 : 50;
    }
  });
  players.sort((a, b) => b.points - a.points);
  return players;
}

screenData.value.players = getPlayerWithRoundPoints();
screenData.value.draw = state.game.round.draw;
screenData.value.prompt = state.game.round.prompt;
onMounted(() => {
  const tl = gsap.timeline({
    onComplete: () => {
      checkEnd();
    },
  });
  tl.fromTo(
    drawContainer.value,
    {
      x: -screenContainer.value.offsetWidth,
    },
    {
      x: 0,
      autoAlpha: 1,
      duration: 1,
      ease: "power2.inOut",
    }
  )
    .from(itemsRef.value, {
      autoAlpha: 0,
      duration: 0.5,
      ease: "power2.out",
      stagger: 0.2,
      delay: 0.5,
      x: 100,
    })
    .to(itemsRef.value, {
      autoAlpha: 0,
      duration: 0.5,
      ease: "power2.out",
      stagger: -0.2,
      delay: 5,
      x: screenContainer.value.offsetWidth,
    })
    .to(drawContainer.value, {
      autoAlpha: 0,
      keyframes: {
        0: { x: 0 },
        25: { x: 100 },
        100: { x: -screenContainer.value.offsetWidth },
      },
      duration: 1,
      ease: "power2.inOut",
    })
    .to(screenContainer.value, {
      scale: 0,
      duration: 0.5,
      ease: "power2.out",
    });
});
</script>
<template>
  <div
    ref="screenContainer"
    class="flex h-full items-center justify-center text-black overflow-hidden"
  >
    <div
      ref="drawContainer"
      class="w-1/3 p-4 flex justify-center items-center flex-col"
    >
      <div class="bg-white w-full aspect-[3/4]">
        <img :src="screenData.draw" class="h-full object-contain" />
      </div>
    </div>
    <div
      class="w-2/3 p-4 grid grid-rows-[repeat(auto-fill, minmax(0, 16%))] grid-cols-2 grid-flow-row gap-4"
    >
      <div
        class="flex w-full items-center justify-start"
        v-for="player in screenData.players"
        :key="player.id"
        ref="itemsRef"
      >
        <div class="relative w-1/5">
          <svg
            v-if="player.id === screenData.currentPlayer.id"
            class="h-8 w-8 absolute -left-4 animate-swing"
            viewBox="0 0 64 64"
            fill="currentColor"
          >
            <g>
              <path
                d="M43.3818169,14.7553797l-15.7851009-4.1719007c-0.2563992-0.0682993-0.5298004-0.0311995-0.7582912,0.1026001   c-0.2295094,0.1337004-0.3959999,0.3525-0.4639091,0.6084003l-9.4145985,35.6230011   c-0.0444012,0.1688995-0.0444012,0.3466988,0.0009995,0.5155983l4.2602997,15.8272018   c0.0932083,0.3456993,0.3642082,0.6152,0.7103996,0.7069969c0.0845013,0.0225029,0.1699009,0.0332031,0.2553997,0.0332031   c0.2637005,0,0.5209999-0.1044998,0.7109013-0.2969017L34.421917,52.048378   c0.1229973-0.1240997,0.2108994-0.2784004,0.2557983-0.4473l9.4151001-35.6231003   C44.2344246,15.4438791,43.9150162,14.8969793,43.3818169,14.7553797z M22.7002163,61.0590782l-1.3078995-4.8586006   l4.8323002,1.2940025L22.7002163,61.0590782z M32.8125153,50.8315811l-4.9694996,5.0261002l-7.051199-1.8883018   l-1.8299007-6.7980003l9.0907993-34.3983994l13.8506012,3.660099L32.8125153,50.8315811z"
              />
              <path
                d="M46.3291168,4.2436795l-15.9296913-4.21c-0.2568092-0.0693-0.52981-0.0322-0.7583103,0.1026   c-0.2294998,0.1337-0.3959999,0.3525-0.4638996,0.6084l-1.7425995,6.5966001   c-0.1411915,0.5341997,0.1772003,1.0820994,0.711401,1.2226996l15.9291973,4.2098999   c0.0839996,0.0225,0.1699028,0.0333004,0.2558022,0.0333004c0.1748009,0,0.3486977-0.0459003,0.5029984-0.1358004   c0.2294998-0.1337996,0.3964996-0.3525,0.4638023-0.6093998l1.7421989-6.5966001   C47.1806145,4.9321795,46.8623161,4.3842793,46.3291168,4.2436795z M43.6191139,10.5844793L29.6235161,6.8862796   l1.2320004-4.6631002l13.9960003,3.6982002L43.6191139,10.5844793z"
              />
              <path
                d="M29.3252163,44.0932808c0.0853996,0.0223999,0.1714001,0.0331993,0.2558002,0.0331993   c0.4428997,0,0.8477001-0.2959023,0.9662991-0.7442017L36.7373161,19.96138   c0.1416016-0.5341015-0.1777-1.0810013-0.7109985-1.2226009c-0.5312004-0.1387005-1.0820007,0.1767006-1.2226028,0.7109013   l-6.1898994,23.4208984C28.4726162,43.4047775,28.7910156,43.9526787,29.3252163,44.0932808z"
              />
            </g>
          </svg>
          <img :src="player.profile.avatar" class="w-full object-contain" />
        </div>
        <div class="w-4/5">
          <h2 class="text-3xl font-bold text-green-600">
            +{{ player.points }}
          </h2>
          <h3
            class="text-2xl font-bold uppercase"
            :class="{
              'text-xl': player.prompt.length > 20,
            }"
          >
            {{ player.prompt }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</template>
