<script setup>
import { inject, onMounted, ref } from "vue";
import { useStateStore } from "../../store/state.js";
import prompts from "../../assets/prompts.json";
import { useTimeoutPoll } from "@vueuse/core";
import Countdown from "../../components/Countdown.vue";
import gsap from "gsap";
import { computed } from "@vue/reactivity";
import { Howl, Howler } from "howler";
import VoicesAudio from "../../assets/sounds/voices.wav";
const socket = inject("socket");
const state = useStateStore();

function getRandomPrompt() {
  return prompts[Math.floor(Math.random() * prompts.length)];
}

state.game.draws = [];

state.handleMessage = (message) => {
  if (message.data.type === "draw") {
    const player = state.room.players.find((p) => p.id === message.from);
    if (
      message.data.draw &&
      message.data.prompt &&
      message.data.prompt.length > 0
    ) {
      state.game.draws.push({
        player: player,
        data: message.data.draw,
        prompt: message.data.prompt.toLowerCase(),
      });
      playersDone.value.push(player);
    }
    player.status = "done";

    if (!state.room.players.some((p) => p.online && p.status !== "done")) {
      if (state.game.draws.length === 0) {
        state.room.players.forEach((player) => {
          player.status = "drawing";
          socket.emit("message", {
            to: player.id,
            type: "controller",
            controller: "Draw",
            data: {
              prompt: player.prompt,
              color: player.colors,
            },
          });
        });
        if (state.game.settings.drawingTime > 0) {
          countdown.value = state.game.settings.drawingTime;
          resume();
        }
        return;
      }
      state.game.draws.sort(() => Math.random() - 0.5);
      const selectedDraw = state.game.draws.shift();
      state.game.round = {
        draw: selectedDraw.data,
        prompt: selectedDraw.prompt,
        currentPlayer: selectedDraw.player,
      };
      gsap.to(screenContainer.value, {
        x: screenContainer.value.offsetWidth,
        delay: 1,
        autoAlpha: 0,
        duration: 1,
        ease: "power2.inOut",
        onComplete: () => {
          state.game.view = "ShowingDraw";
        },
      });
    }
  }
};

function start() {
  state.room.players.forEach((player) => {
    player.status = "drawing";
    let prompt = null;
    if (state.game.settings.mode === "normal") {
      let count = 0;
      do {
        count++;
        prompt = getRandomPrompt();
      } while (state.promptHistory.includes(prompt) && count < prompts.length);

      state.promptHistory.push(prompt);
    }
    player.prompt = prompt;

    socket.emit("message", {
      to: player.id,
      type: "controller",
      controller: "Draw",
      data: {
        prompt,
        color: player.colors,
      },
    });
  });
  if (state.game.settings.drawingTime > 0) {
    countdown.value = state.game.settings.drawingTime;
    resume();
  }
}
const screenContainer = ref(null);
onMounted(() => {
  gsap.fromTo(
    screenContainer.value,

    {
      x: -screenContainer.value.offsetWidth,
    },
    {
      x: 0,
      autoAlpha: 1,
      duration: 1,
      ease: "power2.inOut",
      onComplete: () => {
        const sounds = new Howl({
          src: [VoicesAudio],
          volume: 1,
          sprite: {
            drawingTime: [11000, 1200],
            whatIsThis: [12200, 1100],
            whichIsCorrect: [13300, 1400],
          },
        });

        sounds.play('drawingTime');
        start();
      },
    }
  );
});

const countdown = ref(state.game.settings.drawingTime);

const checkCountdown = async () => {
  countdown.value--;
  if (countdown.value <= 0) {
    pause();

    state.room.players
      .filter((p) => p.status === "drawing")
      .forEach((player) => {
        socket.emit("message", {
          to: player.id,
          type: "finish",
        });
      });
  }
};

const { isActive, pause, resume } = useTimeoutPoll(checkCountdown, 1000);

const playersDone = ref([]);
</script>

<template>
  <div
    ref="screenContainer"
    class="flex justify-center items-center h-full w-full gap-16 p-4"
  >
    <div
      class="grid grid-cols-2 grid-rows-3 place-content-center justify-items-center w-96"
    >
      <div
        v-for="player in playersDone.filter((p, i) => i % 2 === 0)"
        :key="player.id"
        :style="{ color: player.colors[1] }"
        class="text-center w-32"
        @click="banPlayer(player)"
      >
        <img
          :src="player.profile.avatar"
          class="object-contain rounded-full transform -rotate-6 animate-swing"
          :class="{
            '-rotate-45': Math.random() > 0.5,
          }"
        />
      </div>
    </div>
    <div class="flex flex-col justify-center items-center h-full gap-16">
      <Countdown
        :countdown="countdown"
        v-if="state.game.settings.drawingTime !== 0"
      />
      <div class="">
        <p class="text-5xl uppercase font-mono">é hora de desenhar!</p>
      </div>
    </div>
    <div
      class="grid grid-cols-2 grid-rows-3 place-content-center justify-items-center w-96"
    >
      <div
        v-for="player in playersDone.filter((p, i) => i % 2 !== 0)"
        :key="player.id"
        :style="{ color: player.colors[1] }"
        class="text-center w-32"
        @click="banPlayer(player)"
      >
        <img
          :src="player.profile.avatar"
          class="object-contain rounded-fulltransform rotate-6 rota animate-swing"
          :class="{
            'rotate-45': Math.random() > 0.5,
          }"
        />
      </div>
    </div>
  </div>
</template>

<style scoped></style>
