<script setup>
import { inject, onMounted, ref } from "vue";
import { useStateStore } from "../../store/state.js";

const socket = inject("socket");
const state = useStateStore();

const gameSpeeds = {
  nomrmal: {
    drawingTime: 60,
    promptingTime: 60,
    votingTime: 30,
  },
  fast: {
    drawingTime: 15,
    promptingTime: 20,
    votingTime: 15,
  },
  slow: {
    drawingTime: 240,
    promptingTime: 120,
    votingTime: 60,
  },
  free: {
    drawingTime: 0,
    promptingTime: 0,
    votingTime: 0,
  },
};

function startGame() {
  state.game.settings = {
    ...state.game.settings,
    ...gameSpeeds[gameSpeed.value],
  };
  state.game.remainingRounds = state.game.settings.rounds;

  state.game.view = "WaitingDraws";
}

const modes = ref([
  {
    name: "Normal",
    value: "normal",
  },
  {
    name: "Livre",
    value: "free",
  },
]);

const gameSpeed = ref("normal");
const gameSpeedOptions = ref([
  {
    name: "Lento",
    value: "slow",
  },
  {
    name: "Normal",
    value: "normal",
  },
  {
    name: "Rápido",
    value: "fast",
  },
  {
    name: "Livre",
    value: "free",
  },
]);

const currentStep = ref(1);

onMounted(() => {
  setInterval(() => {
    currentStep.value++;
    if (currentStep.value > 6) {
      currentStep.value = 1;
    }
  }, 3000);
});
</script>

<style scoped>
h1 {
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}
</style>

<template>
  <div class="flex flex-col items-center gap-16">
    <h1 class="text-7xl text-center font-black leading-tight">
      <!-- "Artista Infiltrado" each letter one color -->
      <span class="text-yellow-500">A</span>
      <span class="text-red-500">r</span>
      <span class="text-blue-500">t</span>
      <span class="text-green-500">i</span>
      <span class="text-purple-500">s</span>
      <span class="text-pink-500">t</span>
      <span class="text-orange-500">a</span>
      <div class="w-4 inline-block"></div>
      <span class="text-gray-500">I</span>
      <span class="text-yellow-500">n</span>
      <span class="text-red-500">f</span>
      <span class="text-blue-500">i</span>
      <span class="text-green-500">l</span>
      <span class="text-purple-500">t</span>
      <span class="text-pink-500">r</span>
      <span class="text-orange-500">a</span>
      <span class="text-teal-500">d</span>
      <span class="text-gray-500">o</span>
    </h1>
    <div class="text-2xl flex justify-center w-full items-center">
      <div class="w-1/2 flex flex-col gap-10">
        <div>
          <p class="font-bold text-center">ESCOLHA UM MODO:</p>
          <div class="flex justify-center gap-16 mt-4">
            <label
              class="border-black border-4 text-black text-lg font-bold font-mono uppercase px-4 py-2 rounded-lg"
              v-for="mode in modes"
              :key="mode.value"
              :class="{
                'bg-black !text-white ring-2 ring-offset-2 ring-black':
                  state.game.settings.mode === mode.value,
              }"
            >
              <input
                class="hidden"
                type="radio"
                name="mode"
                :value="mode.value"
                v-model="state.game.settings.mode"
              />
              {{ mode.name }}
            </label>
          </div>
        </div>
        <div>
          <p class="font-bold text-center uppercase">Número de rodadas:</p>
          <div class="flex justify-center gap-16 mt-4">
            <button
              class="border-black border-4 text-black text-lg font-bold font-mono uppercase px-2 py-1 rounded-lg grid place-content-center"
              @click="state.game.settings.rounds--"
            >
              -
            </button>
            <p
              class="bg-black !text-white ring-2 ring-offset-2 ring-black border-black border-4 text-lg font-bold font-mono uppercase px-2 py-1 rounded-lg grid place-content-center"
            >
              {{ state.game.settings.rounds }}
            </p>
            <button
              class="border-black border-4 text-black text-lg font-bold font-mono uppercase px-2 py-1 rounded-lg grid place-content-center"
              @click="state.game.settings.rounds++"
            >
              +
            </button>
          </div>
        </div>
        <div>
          <p class="font-bold text-center uppercase">Tempo de jogo:</p>
          <div class="flex justify-center gap-16 mt-4">
            <label
              class="border-black border-4 text-black text-lg font-bold font-mono uppercase px-2 py-1 rounded-lg grid place-content-center"
              v-for="speed in gameSpeedOptions"
              :for="speed.value"
              :key="speed.value"
              :class="{
                'bg-black !text-white ring-2 ring-offset-2 ring-black':
                  gameSpeed === speed.value,
              }"
            >
              <input
                class="hidden"
                type="radio"
                name="speed"
                :id="speed.value"
                :value="speed.value"
                v-model="gameSpeed"
              />
              {{ speed.name }}
            </label>
          </div>
        </div>
      </div>
      <div class="w-1/2 text-xl">
        <!-- <p class="font-bold uppercase">Como jogar:</p>
        <ol class="flex flex-col gap-4 mt-4 list-disc">
          <li v-if="state.game.settings.mode === 'normal'">
            Faça um desenho relacionado ao título apresentado.
          </li>
          <li v-if="state.game.settings.mode === 'free'">
            Faça um desenho e dê um título a ele.
          </li>
          <li>Crie um titulo para os desenhos dos outros jogadores.</li>
          <li>Advinhe o titulo original de cada desenho.</li>
        </ol>
        <p class="font-bold uppercase mt-8">Pontuação:</p>
        <ol class="flex flex-col gap-4 mt-4 list-disc">
          <li><b>100 pontos</b> por acertar o título correto.</li>
          <li>
            <b>100 pontos</b> para o autor do título correto por cada jogador
            que acertou.
          </li>
          <li><b>50 pontos</b> por cada jogador engando.</li>
        </ol> -->
        <div class="flex justify-center w-full h-96">
          <img
            v-if="currentStep === 1"
            src="../../assets/images/welcome/step1.png"
            class="h-96 object-contain"
          />
          <img
            v-else-if="currentStep === 2"
            src="../../assets/images/welcome/step2.png"
            class="h-96 object-contain"
          />
          <img
            v-else-if="currentStep === 3"
            src="../../assets/images/welcome/step3.png"
            class="h-96 object-contain"
          />
          <img
            v-else-if="currentStep === 4"
            src="../../assets/images/welcome/step4.png"
            class="h-96 object-contain"
          />
          <img
            v-else-if="currentStep === 5"
            src="../../assets/images/welcome/step5.png"
            class="h-96 object-contain"
          />
          <img
            v-else-if="currentStep === 6"
            src="../../assets/images/welcome/step6.png"
            class="h-96 object-contain"
          />
        </div>
        <div class="flex justify-center mt-2">
          <button
            class="border-black border-4 text-black text-sm font-bold font-mono uppercase px-1 py-1 rounded-lg"
            v-for="i in 6"
            :key="i"
            :class="{
              'bg-black !text-white ring-2 ring-offset-2 ring-black':
                currentStep === i,
            }"
            @click="currentStep = i"
          >
            {{ i }}
          </button>
        </div>
      </div>
    </div>
    <button
      class="border-black border-4 text-black text-xl font-bold font-mono uppercase px-8 py-4 rounded-lg hover:bg-black hover:text-white transition-all duration-300"
      @click="startGame"
    >
      Começar
    </button>
  </div>
</template>
