<script setup>
import { defineAsyncComponent, inject, watch, watchEffect } from "vue";
import { useStateStore } from "./store/state.js";
import { useSound } from "@vueuse/sound";
import fanfare from "./assets/sounds/fanfare.mp3";
import Home from "./views/Home.vue";
import Lobby from "./views/Lobby.vue";
import Test from "./views/Test.vue";
import { useWakeLock } from "@vueuse/core";
import { Howl, Howler } from "howler";

const { isActive, request } = useWakeLock();

watchEffect(() => {
  if (!isActive.value) {
    try {
      request("screen");
    } catch (e) {}
  }
});

const colorsOptions = [
  ["#ADD8E6", "#00008B"],
  ["#90EE90", "#006400"],
  ["#DDA0DD", "#800080"],
  ["#FFB6C1", "#FF1493"],
  ["#FFA07A", "#FF8C00"],
  ["#FFFFE0", "#9B870C"],
  ["#A52A2A", "#654321"],
  ["#D3D3D3", "#808080"],
  ["#008080", "#003333"],
  ["#FF7F50", "#FF4040"],
  ["#000080", "#000066"],
  ["#808000", "#333300"],
  ["#800000", "#660000"],
  ["#40E0D0", "#00CED1"],
  ["#E6E6FA", "#9400D3"],
];

const games = {
  Drawful: defineAsyncComponent(() => import(`./views/Drawful/Index.vue`)),
  // Dixit: defineAsyncComponent(() => import(`./views/Dixit/Index.vue`)),
};

const state = useStateStore();
const socket = inject("socket");

socket.on("token", ({ token }) => {
  sessionStorage.setItem("token", token);
});

socket.on("room", (room) => {
  state.room.code = room;
});

socket.on("player", (player) => {
  if (!state.room.players) {
    state.room.players = [];
  }
  // is banned?
  if (state.room.bannedPlayers?.includes(player.id)) {
    socket.emit("message", {
      to: player.id,
      type: "leave",
      data: {
        reason: "banned",
      },
    });
    return;
  }
  // if room is full
  if (state.room.players.length >= 12) {
    socket.emit("message", {
      to: player.id,
      type: "leave",
      data: {
        reason: "room-full",
      },
    });
    return;
  }


  const playerIndex = state.room.players.findIndex((p) => p.id === player.id);
  if (playerIndex !== -1) {
    state.room.players[playerIndex].online = true;
    socket.emit("message", {
      to: player.id,
      type: "profile",
      data: {
        colors: state.room.players[playerIndex].colors,
      },
    });
    return;
  }

  // not allowed if game is started
  if (state.game.name) {
    socket.emit("message", {
      to: player.id,
      type: "leave",
      data: {
        reason: "game-started",
      },
    });
    return;
  }

  const colors = colorsOptions.filter((c) => {
    return !state.room.players.find((p) => p.colors[0] === c[0]);
  });
  colors.sort(() => Math.random() - 0.5);
  socket.emit("message", {
    to: player.id,
    type: "profile",
    data: {
      colors: colors[0],
    },
  });
  player.colors = colors[0];
  player.online = true;

  state.room.players.push(player);
});

socket.on("message", (message) => {
  if (message.from && !state.room.players.find((p) => p.id === message.from)) {
    return;
  }
  if (message.type === "input" && state.handleMessage) {
    state.handleMessage(message);
  } else if (message.type === "profile") {
    const playerIndex = state.room.players.findIndex(
      (p) => p.id === message.from
    );
    state.room.players[playerIndex].profile = {
      ...state.room.players[playerIndex].profile,
      ...message.profile,
    };
  } else if (message.type === "notify") {
    notify(message.from, message.data?.message);
  } else {
    console.log(message);
  }
});

socket.on("player-disconnected", ({ id }) => {
  // remove player from array of players
  // state.room.players = state.room.players.filter((p) => p.id !== id);
  // if (!state.room.players.length) endGame();

  const player = state.room.players.find((p) => p.id === playerId);
  // if (!player.profile) return;
  player.online = false;
  // if (!state.room.players.some((p) => p.online)) endGame();
});

function endGame() {
  state.game = {};
}

// const sound = useSound(fanfare, { volume: 1 })

function notify(playerId, message) {
  const notifySound = new Howl({
    src: [fanfare],
    volume: 0.5,
    rate: 1.7,
  });

  notifySound.play();
  state.notifications.push({
    id: Math.random(),
    player: state.room.players.find((p) => p.id === playerId),
    message,
    time: new Date(),
  });
  setTimeout(() => {
    state.notifications.shift();
  }, 1000);
}
</script>

<template>
  <div class="h-full w-full overflow-hidden" v-if="true">
    <Home v-if="!state.room.code" />
    <Lobby v-else-if="!state.game.name" />
    <component v-else :is="games[state.game.component]" />
    <div class="fixed bottom-0 right-0 animate-bounce flex">
      <!-- notify -->
      <div
        v-for="notification in state.notifications"
        :key="notification.id"
        class="m-4 p-4 bg-white rounded shadow"
      >
        <!-- <div class="mt-2">{{ notification.message }}</div> -->
        <div class="flex flex-col items-center justify-between">
          <img
            :src="notification.player.profile.avatar"
            class="w-24 h-24"
            v-if="notification.player.profile.avatar"
          />
          <div
            :style="{ color: notification.player.colors[1] }"
            class="font-bold"
          >
            {{ notification.player.profile.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <Test v-else />
</template>

<style>
:root {
  font-size: 1vw;
}

#app {
  height: 100vh;
}
</style>
