@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .outiline-text-black {
    text-shadow: -0.1042rem -0.1042rem 0 black, 0.1042rem -0.1042rem 0 black,
      -0.1042rem 0.1042rem 0 black, 0.1042rem 0.1042rem 0 black;
  }
  .outiline-text-red {
    text-shadow: -0.1042rem -0.1042rem 0 red, 0.1042rem -0.1042rem 0 red,
      -0.1042rem 0.1042rem 0 red, 0.1042rem 0.1042rem 0 red;
  }
}
